@import "_flatstrap\variables.less";

.vertical-space{
	margin-top: 30px;
}

hr.spacer{
	margin-top: 45px;
	margin-bottom: 45px;
}

.content{
	font-size: 18px;
	text-align: justify;
}

p.content{	
	.vertical-space;
}

.match-header{
	margin-top: @line-height-computed;
}
