include ../components/template

+page('Contact us', 'Contact details for Audition software')
	.container
		.row.vertical-space
			h1 Contact us			
		.row.vertical-space
			h2 Technical question?
			p Want to learn more about our products? Drop us a line at
			a(href="mailto:support@auditionsoftware.com") support@auditionsoftware.com
		.row.vertical-space
			h2 Help buying?
			p Want to request a demo or a purchase quote? Email our sales team at
			a(href="mailto:sales@auditionsoftware.com") sales@auditionsoftware.com
		.row.vertical-space
			h2 Phone
			p Email is all very well, but sometimes you just need to talk to a human being. Give us a call on
			p 01223 510 531
			
		