include ../components/template

+methodology-page('FRC Methodology advice', 'isa')
	h1 What does the ISA say?			
	p.content So how should we sample journals when fulfilling our duties with respect to fraud? ISA 240 lists five characteristics of fraudulent journals:
		ul.content
			li made to unrelated, unusual, or seldom-used accounts,
			li made by individuals who typically do not make journal entries,
			li recorded at the end of the period or as post-closing entries that have little or no explanation or description,
			li made either before or during the preparation of the financial statements that do not have account numbers,
			li containing round numbers or consistent ending numbers