include ../components/template

+methodology-page('How Audition helps you satisfy the ISAs', 'solution')
	h1 How can Audition help?				
	p.content The Financial Reporting Council’s recent 
		a(href="https://frc.org.uk/Our-Work/Publications/Audit-Quality-Review/Audit-Quality-Thematic-Review-Fraud-Risks-and-Laws.pdf") thematic report on fraud risks and laws and regulations 
		| made several recommendations as to what constitutes good practice when performing an audit. One of these was the suggestion that auditors should expect to be “Using CAATs [Computer Aided Audit Techniques] on all audits to test journal entries, with exceptions expected to be rare”.
	p.content We couldn’t agree more. It’s pretty much impossible to manage journal sampling manually or using just a spreadsheet, due to both the number of journals involved, and the trickiness of the question being asked: it’s not easy to write a formula that lists all the journals with an account code shared by fewer than 10 other entries, for example.
	p.content Audition allows you to connect directly to the client’s accounting system and:
		ul.content
			li Search for entries posted outside of normal working hours
			li View all journals made to account codes with an abnormally small number of entries.
			li Inspect all entries not made by the individuals who would normally be expected to post journals.
			li Retrieve journals made near to or after the year end.
			li Find journals containing round numbers or with consistent endings
			li Search for journals containing keywords characteristic of fraud, such as “miscellaneous”.
	p.content	These tests are tailored to meet the recommendations of characteristics of fraud made in 
		a(href="/methodology-isa") ISA 240
		|  and the 
		a(href="methodology-recommendations") FRC's recommendations
		|. Having a large selection of ways of sampling journals with fraud characteristics allows you to be more responsive to the fraud risk factors present in the organisation, and to provide more value to your clients.
	