include ../components/template

+page('Methodology advice')
	.jumbotron
		.container
			h1 How should we audit journals?
			p 
	.container
		.row
			p So how should we sample journals when fulfilling our duties with respect to fraud? ISA 240 lists five characteristics of fraudulent journals:
			ul
				li made to unrelated, unusual, or seldom-used accounts, 
				li made by individuals who typically do not make journal entries, 
				li recorded at the end of the period or as post-closing entries that have little or no explanation or description, 
				li made either before or during the preparation of the financial statements that do not have account numbers, 
				li containing round numbers or consistent ending numbers
			p In its special report on fraud and regulation, the FRC offered audit firms some strong advice on how to improve their auditing with respect to fraud.

			p In its principal findings, the report complained that “[i]t was not always clear that the journal testing planned was responsive to the fraud risks identified”, and later stated bluntly that “[a]uditors should ensure that journal testing is responsive to the fraud risks identified”.

			p In other words, auditors should tailor their testing to the specific fraud risks identified during the planning and execution stages. For example, if bonuses are tied to revenue, then it would make sense to focus on testing the revenue accounts. Or if it’s clear that management have the ability to override system controls, then a search for journals posted by users who would not be expected to be directly involved in preparing the accounts might be considered necessary.

			p The FRC report bemoaned audits where “...fewer criteria were used to identify journals exhibiting fraud characteristics, tending to focus on journals that were for large or round sum amounts or posted outside normal working hours”. It fretted that, although these criteria are easier to test, they “...may not be the only or most appropriate fraud risk characteristics to use to select journals for testing”.

			p It’s easy to fall into the trap of performing the same audit tests regardless of the organisation, but it’s important to have a large selection of possible tests to choose from, so that you can select the appropriate ones for this particular organisation.

			p The watchdog praised audits where “...additional criteria were used to identify journals with fraud characteristics, including analysing journals by user, journals targeted at specific balances (in particular revenue) and searching for key words”, since  “[t]his testing was more targeted to the fraud risks identified for the entity”
