include ../components/template
include ../components/footnotes

+methodology-page('Why Auditing journals is important', 'An explanation of why ISA 240, and auditing journals in particular, is important','introduction')
	h1 Why is auditing journals important?
	p.content Of the 36 standards which constitute the framework for a statutory audit, it often seems like none generates as much discussion as 
		a(href="methodology-isa") ISA 240
		|, dealing with the auditor's responsibilities relating to fraud.
	p.content One of the key parts of ISA 240 is the requirement to test a sample of the journals themselves, focusing particularly on journals with particular characteristics which may be indicative of a fraud risk.
	p.content However, many auditors find this difficult. The FRC, in its regular reports on the quality of the major audit firms' work
		+footnote-link(1)
		|, often draws attention to points for improvement in relation to journal testing, and points for improvement on journal testing were part of the principal findings of a recent 
		a(href="methodology-recommendations") special inspection
		|.
	hr.vertical-space
	+footnote(1)
		| You can read the FRC's reports on specific auditors here: 
		a(href="https://www.frc.org.uk/Our-Work/Conduct/Audit-Quality-Review/Audit-firm-specific-reports.aspx") https://www.frc.org.uk/Our-Work/Conduct/Audit-Quality-Review/Audit-firm-specific-reports.aspx
	