include ../components/template

+methodology-page('Why Auditing journals is important')
	h1 Why is auditing journals important?
	p.content Of the 36 ISAs which constitute the framework for a statutory audit, it often seems like none generates as much discussion as ISA 240, dealing with the auditor's responsibilities relating to fraud. It’s a big sticking point when it comes to review: so much so that the Financial Reporting Council (FRC), responsible for the oversight of the big auditors in the UK, performed a special “thematic inspection” on fraud and laws and regulations.
	p.content One of the key parts of ISA 240 is the requirement to test a sample of the journals themselves, focusing particularly on journals with particular characteristics which may be indicative of a fraud risk.
	p.content However, many auditors find this difficult. The FRC, in its regular reports on the quality of the major audit firm’s work, often draws attention to points for improvement in relation to journal testing, and notes on journal testing were part of the principal findings of its thematic inspection
	