include ../components/template

+methodology-page('Why Auditing journals is important', 'introduction')
	h1 Why is auditing journals important?
	p.content Of the 36 standards which constitute the framework for a statutory audit, it often seems like none generates as much discussion as 
		a(href="http://www.ifac.org/sites/default/files/downloads/a012-2010-iaasb-handbook-isa-240.pdf") ISA 240
		|, dealing with the auditor's responsibilities relating to fraud.
	p.content One of the key parts of ISA 240 is the requirement to test a sample of the journals themselves, focusing particularly on journals with particular characteristics which may be indicative of a fraud risk.
	p.content However, many auditors find this difficult. The FRC, in its 
		a(href="https://www.frc.org.uk/Our-Work/Conduct/Audit-Quality-Review/Audit-firm-specific-reports.aspx") regular reports on the quality of the major audit firm’s work
		|, often draws attention to points for improvement in relation to journal testing, and points for improvement on journal testing were part of the principal findings of a recent 
		a(href="https://frc.org.uk/Our-Work/Publications/Audit-Quality-Review/Audit-Quality-Thematic-Review-Fraud-Risks-and-Laws.pdf") special inspection
		|.
	