include ../components/template

mixin screenshot(src)
	.col-sm-8.vertical-space
		img.screenshot(src=src)
				
+page('Product', 'A description of how Audition Software helps to make it easier for external/statutory auditors to sample accounts entries/journals with fraud characteristics')
	.jumbotron
		.container
			h1 How does it work?			
			p Audition is designed for an auditor's workflow, so at every stage it matches your needs.

	.container
		h2 1: Import journals straight from the accounts
		.row
			.col-sm-4.vertical-space
				p.screenshot-caption Lining up all the columns in a spreadsheet and importing them can be time-consuming and frustrating. So just connect to the accounts system directly and let the tool do the work.
			+screenshot('login.jpg')
				
		hr.spacer
		
		h2 2: Analyse data quickly and thoroughly
		.row
			+screenshot('search.jpg')
			.col-sm-4.vertical-space
				p.screenshot-caption No spreadsheet formulae, no scanning huge lists of journals looking for ones that stand out. A simple interface which helps you understand exactly what you're looking at, and allows you to document exactly what tests you have performed. 
					a(href="methodology-solution") Learn more about what tests Audition performs
		
		hr.spacer
		
		h2 3: Export to Excel spreadsheet or PDF file
		.row
			.col-sm-4.vertical-space
				p.screenshot-caption Want to include the results in your working papers? No problem. Simply export the data to a spreadsheet or read-only .pdf file so you can cross reference it with the rest of your workings
			+screenshot('export.jpg')
			
		hr.spacer
		
	
		h1 Enough already! Let me try it out!			
		p
			a.btn.btn-primary.btn-lg(role="button", href="signup") Try it now &raquo;
		
		
		