include ../components/template

+page('Trial', 'Information on how to trial Audition Software')
	div.jumbotron
		div.container
			h1 Try it out
			p Want to see what it's all about? Get a demo and a free, no-obligation trial of the software
			p Enter your email using the box below and we'll be in touch with details of your free trial
			form.form-horizontal(action="/trial-request", method="post")
				fieldset
					.form-group
						div(class="col-sm-6 vertical-space")
							input.form-control(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="Enter your email", required)
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						div(style="position: absolute; left: -5000px;")
							input(type="text" name="b_cbc366668e12fea772df67aeb_bf820d2720" tabindex="-1" value="")
						div(class="col-sm-4 vertical-space")
							button(type="submit" class="btn btn-primary") Request trial &raquo;
					.form-group
						div(class="col-sm-6")
							a(href="http://eepurl.com/YUL55") Powered by MailChimp
