include ../components/template

+page('Trial Requested', 'A trial has been successfully requested')
	div.jumbotron
		div.container
			h1 Congratulations
			p We'll be in touch to talk soon with the details of your free trial
