html
  include ../components/head
  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse" data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar        
          a.navbar-brand(href="#") Audition Software
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    div.jumbotron
      div.container
        h1 Is there an easier way?
        p Audition is a software tool that helps financial auditors analyse their clients' accounts. You can use it to find duplicate payments, or to search all journals raised for suspicious activity.
        p
          a(role="button" class="btn btn-primary btn-lg") Try it now &raquo;
  
    div.container
      <!-- Example row of columns -->
      div.row
        div.col-md-4
          h2 Improve recovery rates
          p You want to be able to give your clients the best deal possible. Save time at the planning and execution stage of the audit and perform an ISA-compliant audit faster, allowing you to save your clients money
          p
            a(class="btn btn-default" href="#", role="button") Learn more &raquo;
        div.col-md-4
          h2 Increase ISA compliance
          p ISA 240, the auditor's responsibilities relating to fraud, requires the auditor to "Test the appropriateness of journal entries recorded in the general ledger". Many auditors find compliance with this standard difficult and burdensome. Audition can help.
          p
            a(class="btn btn-default" href="#", role="button") Learn more &raquo;     
        div.col-md-4
          h2 Import journals easily
          p Tired of tools that take longer to use than doing the task by hand? So are we. Audition allows you to import your client's data directly, so you can get the job done quickly and easily.
          p
            a(class="btn btn-default" href="#", role="button") Learn more &raquo;
  
  
      hr
  
      footer
        p &copy; Audition Software Limited 2014    
  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

