include ../components/template
mixin submitbutton()
	button(type="submit" class="btn btn-primary") Sign me up &raquo;

+page('Sign up')
	div.jumbotron
		div.container
			h1 Try it out
			p We're currently working hard to make an early version of our software available to a few select users. We'd really like it if you were one of them. 
			p Enter your email using the box below and we'll be in touch with more information.
			form.form-horizontal(action="//auditionsoftware.us8.list-manage.com/subscribe/post?u=cbc366668e12fea772df67aeb&amp;id=bf820d2720", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
				fieldset
					.form-group
						label(for="mce-EMAIL" class="col-sm-2 control-label") Email	
						.col-sm-6
							input.form-control(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="email address", required)
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						div(style="position: absolute; left: -5000px;")
							input(type="text" name="b_cbc366668e12fea772df67aeb_bf820d2720" tabindex="-1" value="")
						div(class="hidden-xs col-sm-4")
							+submitbutton()
					div.form-group(class="visible-xs col-xs-12")
							+submitbutton()
			
				