include ../components/template

+page('Sign up')
	div.jumbotron
		div.container
			h1 Try it out
			p We're currently working hard to make an early version of our software available to a few select users. We'd really like it if you were one of them. 
			p Enter your email using the box below and we'll be in touch with more information.
			form.form-horizontal(action="//auditionsoftware.us8.list-manage.com/subscribe/post?u=cbc366668e12fea772df67aeb&amp;id=bf820d2720", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
				fieldset
					.form-group
						div(class="col-sm-6 vertical-space")
							input.form-control(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="Enter your email", required)
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						div(style="position: absolute; left: -5000px;")
							input(type="text" name="b_cbc366668e12fea772df67aeb_bf820d2720" tabindex="-1" value="")
						div(class="col-sm-4 vertical-space")
							button(type="submit" class="btn btn-primary") Sign me up &raquo;
					.form-group
						div(class="col-sm-6")
							a(href="http://eepurl.com/YUL55") Powered by MailChimp