mixin methodology-menu(selected)
	legend Methodology
	for page in [{name: 'Introduction', link:'methodology-importance', id: 'introduction'}, {name: 'ISA requirements', link:'methodology-isa', id: 'isa'},{name: 'FRC recommendations', link:'methodology-recommendations', id: 'frc'},{name: 'How Audition helps', link:'methodology-solution', id: 'solution'}]
		if(selected === page.id)
			li.active			
				a(href=page.link) #{page.name}
		else
			li
				a(href=page.link) #{page.name}
				
mixin main-menu()
	li
		a(href="/") Home
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown" href="#") Methodology
			b.caret
		ul.dropdown-menu
			+methodology-menu()
	li
		a(href="/product") Product
	li
		a(href="/signup") Try now