include menus
mixin page(title)
	doctype html
	html(lang="en")
		include head
		+head(title)
		body
			include navbar

			block

			include footer  

			include scripts

mixin methodology-page(title, id)
	+page(title)
		.container
			.row.vertical-space
				.col-sm-4
					legend Methodology
					ul.nav.nav-pills.nav-stacked
						+methodology-menu(id)
				.col-sm-6				
					block

