include menus
include head

mixin page(title, description)
	doctype html
	html(lang="en")
		+head(title, description)
		body
			include navbar

			block

			include footer  

			include scripts

mixin methodology-page(title, description, id)
	+page(title, description)
		.container
			.row.vertical-space
				.col-sm-4
					legend.match-header Methodology
					ul.nav.nav-pills.nav-stacked
						+methodology-menu(id)
				.col-sm-6
					block

