mixin page(title)
	doctype html
	html(lang="en")
		include head
		+head(title)
		body
			include navbar

			block

			include footer  

			include scripts

mixin methodology-menu(selected)
	for page in [{name: 'Introduction', link:'methodology-importance', id: 'introduction'}, {name: 'ISA requirements', link:'methodology-isa', id: 'isa'},{name: 'How Audition helps', link:'methodology-solution', id: 'solution'},{name: 'FRC recommendations', link:'methodology-recommendations', id: 'frc'}]
		if(selected === page.id)
			li.active			
				a(href=page.link) #{page.name}
		else
			li
				a(href=page.link) #{page.name}

mixin methodology-page(title, id)
	+page(title)
		.container
			.row.vertical-space
				.col-sm-4
					ul.nav.nav-pills.nav-stacked
						+methodology-menu(id)
				.col-sm-6				
					block

